<div class="owl-carousel">
  <% @bar.pictures.each do |picture| %>
    <div class="item">
      <%= image_tag picture.picture.url(:large) %>
    </div>
  <% end %>
</div>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
      $(".owl-carousel").owlCarousel({
        navigation : true, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true
      });
      $(".owl-controls.clickable").addClass('custom-slider-buttons')
  <% end %>
<% end %>

