<div class="card">
  <span class="card-bg" style="background-image:url('<%= bar.picture %>')"></span>
  <span class="card-gradient"></span>
  <span class="card-category"><%= bar.city.name %></span>
  <span class="card-text">
    <h2><%= bar.name %></h2>
  </span>
  <%= link_to "", bar_path(bar), class: "card-link" %>
</div>
