<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">


      <div class="row">
        <% @bars.each do |bar| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "card", bar: bar %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div id="map" style="width: 450px; height: 800px;"></div>
    </div>

  </div>
</div>
