<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row text-center">
        <div class="col-xs-12">
          <h1><%= @bar.name %></h1>
          <p><%= @bar.address %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= render "carousel" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <% @bar.gifts.each do |gift| %>
            <%= render 'gifts', gift: gift %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
