<div class="bg-grey bg-height">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4 nopadding">
      <div class="coupon-container">
        <h3>Your order for <%= @booking.friend_name %></h3>
        <div class="coupon">
        <ul>
          <li>Status: <%= @booking.state %></li>
          <li>Item: <%= @booking.gift.name %></li>
          <li>Amount: <%= humanized_money(@booking.amount) %>€</li>
        <ul>
        </div>
      </div>
    </div>
  </div>
</div>
