<div id="footer">
  <div><span>©2015 Gifty Inc.</span></div>
  <div>
    <ul class='list-inline'>
      <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
  <div>
    <%= link_to 'CONCEPT', '#' %> - <%= link_to 'CONTACT', '#' %>
  </div>
</div>
