<div id="footer">
  <span>©2015 Gifty Inc.</span>
  <ul class='list-inline block'>
    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
  <p><%= link_to 'Concept', '#' %>  -  <%= link_to 'Contact', '#' %></p>
</div>
