<script type="text/javascript" src="http://leaverou.github.io/prefixfree/prefixfree.min.js"></script>

<div class="container">
  <div class="col-xs-12 nopadding">
    <div class="final">
      <section>
          <div id="action">
              <div id="keg">
                  <div id="pipe-handle"></div>
                  <div id="pipe"></div>
                  <div id="pipe-front"></div>
              </div>

              <div class="glass">
                  <div class="beer"></div>
                  <div class="handle">
                      <div class="top-right"></div>
                      <div class="bottom-right"></div>
                  </div>
                  <div class="front-glass"></div>
              </div>
          </div>
      </section>

      <h1>
          Enjoy!
      </h1>
    </div>
  </div>
</div>
