<div class="banner text-center" style="background-image: url('http://punchbowlsocial.com/wp-content/uploads/2015/07/HIMYM-Toast.jpg')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>GIFTY</h1>
    <p>Offer a drink to your friends in a few clicks</p>
    <% if user_signed_in? %>
      <%= link_to "OFFER A DRINK", cities_path, class: "try-btn" %>
    <% else %>
      <!-- Button trigger modal -->
      <button type="button" class="try-btn" data-toggle="modal" data-target="#myModal">
        TRY IT
      </button>
    <% end %>
  </div>
</div>
<h2 class="text-center">Cities</h2>
<div class="banners">
  <% @cities.each do |city| %>
    <div class="banner-container">
      <%= render "cities/banner", city: city %>
    </div>
  <% end %>
</div>
<h2 class="text-center">Most popular bars</h2>
<div class="cards">
  <% @bars.each do |bar| %>
    <div class="card-container">
      <%= render "bars/card", bar: bar %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content user-form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create account</h4>
      </div>
      <div class="modal-body">
        <%= render "devise/shared/registration" %>
      </div>
    </div>
  </div>
</div>
