<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=0')">
        <div class="banner-gradient"></div>
        <div class="banner-content">
          <h1>GIFTY</h1>
          <p>Offer a drink to your friends in a few clicks</p>
          <%= link_to "TRY IT", cities_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Cities</h2>
    <% @cities.each do |city| %>
      <div class="col-xs-12 col-md-4">
        <%= render "cities/banner", city: city %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Most popular bars</h2>
    <% @bars.each do |bar| %>
      <div class="col-xs-12 col-sm-3">
        <%= render "bars/card", bar: bar %>
      </div>
    <% end %>
  </div>
</div>
