/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.home-btn {
  display: inline-block;
  background-color: rgba(58, 146, 230, 0.9);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom: 0;
  border-radius: 2px;
  border: 0px solid;
  text-align: center;
  vertical-align: middle;
  min-width: 140px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(58, 146, 230, 0.8);
    border-color: $brand-color;
  }
}

.action-btn {
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.1);
  color: $brand-color;
  border-color: $brand-color;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid;
  text-align: center;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
    background-color: rgba(250, 250, 250, 0.5);
    border-color: darken($brand-color, 10%);
    color: darken($brand-color, 10%);
  }

  &-small {
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.1);
    color: $brand-color;
    border-color: $brand-color;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 0;
    border-radius: 2px;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    &:hover {
      text-decoration: none;
      background-color: rgba(250, 250, 250, 0.5);
      border-color: darken($brand-color, 10%);
      color: darken($brand-color, 10%);
    }
  }
}

.user-form {
  padding: 0px 50px;
}

.owl-buttons {
  display: none;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #f6f6f6;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-brand-color {
  background: $brand-color;
}

.white-card {
  background: white;
  padding: 10px 15px;
  margin: 20px auto;
  border-radius: 2px;
}

.bg-height {
  min-height: 80vh;
}

.nopadding {
   padding: 0 !important;
}

// override bootstrap row and container - media queries {
@media (max-width: $screen-xs) {
  .container-fluid {
    padding: 0;
  }
}
@media (min-width: $screen-xs) {
  .row {
    padding: 0 20px;
  }
}


