index.html.erb
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <%= render "searchbar" %>

      <div class="row">
        <% @vinyls.each do |vinyl| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "card", vinyl: vinyl %>
          </div>
        <% end %>
      </div>
    </div>
