.bar-card {
  background: white;
  border-radius: 2px;
  padding: 10px 0px;
  color: #383838;
  margin: 20px auto;
  // max-width: 600px;
  // margin: 0px auto 10px;
}

.bar-card h1 {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color: $brand-color;
}

.bar-card p {
  font-size: 14px;
}

.bar-card-description {
  padding: 20px;
  background-color: #F6F6F6;
}



