.coupon-card h1 {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color: $brand-color;
  }

.coupon-message {
    padding: 10px;
  }

.coupon {
  position:relative;
  margin:0px auto 20px;
  display: block;
  text-decoration: none;
  background-color: #fafafa;
  color: $brand-color;
  border-radius: 2px;
  border-left: 10px solid $brand-color;
  max-width: 400px;
  }

  .coupon-title {
    display: block;
    padding: 10px 0 0 20px;
    font-size: 1.25em;
  }

  .coupon-details {
    display:block;
    clear:both;
    padding:5px 0 1px 23px;
    font-size:0.85em;
    color: grey;
  }

  .user-pic {
    border-radius: 50%;
  }

  .coupon-field {
    background: white;
    border: 1px solid grey ;
    border-radius: 3px;
    height: 50px;
    min-width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
