@media (max-width: $screen-xs) {
  .custom-slider-buttons {
    display: none;
  }
}

.owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .owl-page>span {
    background: #FFFFFF !important;
  }
}

.owl-item {
  img { width: 100% }
}
