.radio-button {
  margin: 5px 0;
  max-width: 250px;
  margin:0px auto 10px;
}

.radio-button input[type="radio"] {
  display: none;
  align-items: center;
}

.radio-button label {
  width: 100%;
  background-color: #F6F6F6;
  padding: 10px;
  margin: 0;
  display: flex;
}

.radio-button input[type=radio]:checked + label {
  background-color: $brand-color;
  color: #fafaf4;
}

/* Foundation overrides */
// .row {
//   padding: 0 20px;
// }

input[type="checkbox"] + label, input[type="radio"] + label {
  margin: 0;
}

.gift-price {
  margin-left: auto;
}
