<div class="banner text-center" style="background-image:url('images/cities/paris')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h2><%= city.name %></h2>
  </div>
</div>
