<div class="banner text-center" style="background-image:url('<%= city.pictures.first.picture.url(:medium) if city.pictures.present? %>')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1><%= city.name %></h1>
  </div>
  <%= link_to "", city_bars_path(city), class: 'banner-link' %>
</div>
