<h1 class="text-center">SELECT YOUR FRIEND'S CITY</h1>
<div class="container-fluid">
  <div class="row">
    <% @cities.each do |city| %>
      <div class="col-xs-12 col-md-4">
        <%= render "banner", city: city %>
      </div>
    <% end %>
    </div>
  </div>
</div>
