<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <% @cities.each do |city| %>
            <%= render "banner", city: city %>
        <% end %>
      </div>
    </div>
  </div>
</div>
