<div class="container">
  <div class="row">
    <% @cities.each do |city| %>
      <div class="col-xs-12 col-md-4">
        <%= render "banner", city: city %>
      </div>
    <% end %>
    </div>
  </div>
</div>
