<h1 class="text-center">SELECT YOUR FRIEND'S CITY</h1>
  <div class='banners'>
    <% @cities.each do |city| %>
      <div class="banner-container">
        <%= render "banner", city: city %>
      </div>
    <% end %>
  </div>
</div>
